@use  '../../scss/variavel.scss' as *;

.home{
    &__produto{
        display:grid;
        justify-content: center;
        align-items: center;
        margin-top: 7ex;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        padding: 40px;
    }
}